{% extends "base2.html" %}
{% load static %}

    
{% block style %}
    <title>Chat Room</title>
    <link href="{% static 'css/room.css' %}" rel="stylesheet">
<style>
.chatMsgCont {
    border: 1px solid #000;
    height: 400px;
    overflow-y: auto;
    padding: 15px;
}

.userName {
    font-size: 12px;
    padding-left: 1px;
    font-weight: bold;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userMsg {
    width: 80%;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 10px;
    color:#000000;
}


.incomingMsg .userName {
    float: left;
    text-align: left;
    color: #07775d;
}

.incomingMsg .userMsg {
    float: left;
    background: #DDFBD9;
}

.outgoingMsg .userName {
    float: right;
    text-align: right;
    color: #8a4545;
}

.outgoingMsg .userMsg {
    float: right;
    background: #ECECEC;
}

.headerInfo {
    border: 1px solid #000;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: #C2FDBA;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}
.user-status {
    width: 41px;
    height: 13px;
    left: 103px;
    top: 45px;
    font-family: Amiko;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 0.015em;
    color: #000000;
}
.inputCont {
    padding: 0;
    position: relative;
    margin-bottom: 100px;
}

.inputText {
    width: 100%;
    border: 1px solid red;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    background: #F8F7F7;
}

.submitBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.submitBtn i {
    font-size: 25px;
    color: #64CD57;
}

.chatContRight {
    padding-left: 0;
    border-left: none;
}

.chatContLeft {
    height: 498px;
    border: 1px solid #000;
    padding: 0px;
}

.userListHead {
    border: 1px solid #000;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #1a6684;
    border-right: none;
    border-top: none;
}

.userForChat {
    border: 1px solid #000;
    padding: 10px;
    font-size: 14px;
    background: #baecc2;
    border-right: none;
}

.userItem {
    font-size: 14px;
}

.previewItem {
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.emojionearea-button {
    padding-right: 55px;
}
.user-information{
    display: flex;
    flex-direction: column;
    margin-left: 9%;
}
.user-profile-picture { 
    border-radius: 50%;
    position: absolute;
    border: 1px solid;
}

.right-panel{
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
}
    </style>

{% endblock %}
{% block content %}
    {{ user_name|json_script:"user-name" }}
    <div class="container">
        <div class="chatParent row">
            <div class="col-sm-10 chatContRight">
                <div class=" headerInfo">
                    <div style="display: contents;">
                        <img class="user-profile-picture" src="/media/upload/userchatpicture.png"/>
                        <div class="user-information">
                            <span>{{user_name}}</span>
                            <span class="user-status">online</span>
                        </div>
                    </div>
                    <div class="right-panel">
                        <img src="/media/img/attachment.png" onclick="mediabutton();"/>
                        <img src="/media/img/dropdown.png"/>
                        <img src="/media/img/close.png">
                    </div>
                </div>
            
            <div>
                <div class=" chatMsgCont" id="chat-data">
                    {% for detail in my_messages %}
                    {% for msg in detail.message_set.all %}
                        {% if request.user.username == msg.user.username %}
                            {% if msg.message %}
                                <div class="row outgoingMsg">
                                    <div class="col-sm-12">
                                        <div class="userName">
                                            {{msg.user.username}}   
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="userMsg">
                                            {{msg.message}}
                                        </div>
                                    </div>
                                </div>
                            {% elif msg.image_base64 %}
                                <div class="row outgoingMsg">
                                    <div class="col-sm-12">
                                        <div class="userName">
                                            {{msg.user.username}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="userMsg">
                                            <img src='{{ msg.image_base64 }}' alt="out with no image" height=200px width=280px>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            
                        {% else %}
                            {% if msg.message %}
                                <div class="row incomingMsg">
                                    <div class="col-sm-12">
                                        <div class="userName">
                                            {{msg.user.username}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="userMsg">
                                            {{msg.message}}
                                        </div>
                                    </div>
                                </div>
                            {% elif msg.image_base64 %}
                                <div class="row incomingMsg">
                                    <div class="col-sm-12">
                                        <div class="userName">
                                            {{msg.user.username}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="userMsg">
                                            <img src='{{ msg.image_base64 }}' alt="inc with no image" height=200px width=280px>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                </div>

                <div class=" inputCont">
                    <input type="text" class="inputText" placeholder="Enter your message" id="chat-message-input" />
                    <div class="submitBtn" id="chat-message-submit">
                        <i class="fa fas fa-paper-plane"></i>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>


    <!-- <div class="container">
        <div class="chatParent row">
            
            <div class="col-sm-10 chatContRight">
                <div class=" headerInfo">
                    {{user_name}}
                    
                </div>
                <div class=" chatMsgCont" id="chat-data">
                    {% for detail in my_messages %}
                        {% for msg in detail.message_set.all %}
                            {% if request.user.username == msg.user.username %}
                                {% if msg.message %}
                                    <div class="row outgoingMsg">
                                        <div class="col-sm-12">
                                            <div class="userName">
                                                {{msg.user.username}}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="userMsg">
                                                {{msg.message}}
                                            </div>
                                        </div>
                                    </div>
                                {% elif msg.image_base64 %}
                                    <div class="row outgoingMsg">
                                        <div class="col-sm-12">
                                            <div class="userName">
                                                {{msg.user.username}}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="userMsg">
                                                <img src='{{ msg.image_base64 }}' alt="out with no image" height=200px width=280px>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                
                            {% else %}
                                {% if msg.message %}
                                    <div class="row incomingMsg">
                                        <div class="col-sm-12">
                                            <div class="userName">
                                                {{msg.user.username}}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="userMsg">
                                                {{msg.message}}
                                            </div>
                                        </div>
                                    </div>
                                {% elif msg.image_base64 %}
                                    <div class="row incomingMsg">
                                        <div class="col-sm-12">
                                            <div class="userName">
                                                {{msg.user.username}}
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="userMsg">
                                                <img src='{{ msg.image_base64 }}' alt="inc with no image" height=200px width=280px>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class=" inputCont">
                    <input type="text" class="inputText" placeholder="Enter your message" id="chat-message-input" />
                    
                    <i class="mediaBtn fa fa-picture-o fa-lg" id="mediaBtn" onclick="mediabutton();"></i>
                    
                    <div class="submitBtn" id="chat-message-submit" >
                        <i class="fa fas fa-paper-plane"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <input type="hidden" value="{{request.user.username}}" id="uname">
    <input type="file" id="inputFileToLoad" style="display: none;">
   
    


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/room.js' %}"></script>
<script>


const userName = JSON.parse(document.getElementById('user-name').textContent);

const chatSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/chat/'
    + userName
    + '/'
);

chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    let selectClass="";
    
    const usernameInputDom = document.querySelector('#uname');
    const uname = usernameInputDom.value;

    if(uname == data.uname){
        selectClass = "outgoingMsg";
    }
    else{
        selectClass = "incomingMsg";
    }

    var d=document.getElementById('chat-data');
        if (data.message){
        d.innerHTML +=  '<div class="row '+ selectClass+' ">'+
                            '<div class="col-sm-12">'+
                                '<div class="userName">'+
                                    data.uname+
                                '</div>'+
                            '</div>'+

                            '<div class="col-sm-12">'+
                                '<div class="userMsg">'+
                                    data.message;
                                +'</div>'+
                            '</div>'+
                        '</div>';
    }
    else if(data.image){
        d.innerHTML +=  '<div class="row '+ selectClass+' ">'+
                            '<div class="col-sm-12">'+
                                '<div class="userName">'+
                                    data.uname+
                                '</div>'+
                            '</div>'+

                            '<div class="col-sm-12">'+
                                '<div class="userMsg">'+
                                    '<img src="'+data.image+'" height=200px width=280px>';
                                +'</div>'+
                            '</div>'+
                        '</div>';
    };


};


chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

document.querySelector('#chat-message-input').focus();
document.querySelector('#chat-message-input').onkeyup = function(e) {
    if (e.keyCode === 13) {  // enter, return
        document.querySelector('#chat-message-submit').click();
    }
};
//imput box submit
document.querySelector('#chat-message-submit').onclick = function(e) {
  submitMsg();
};

$('#chat-message-submit i').onclick = function(){
  submitMsg();
}
//input box emotion submit
document.querySelector('#chat-message-submit').onclick = function(e) {
  submitMsg();
};



function submitMsg(){
    const messageInputDom = document.querySelector('#chat-message-input');
    const message = messageInputDom.value;

    const usernameInputDom = document.querySelector('#uname');
    const uname = usernameInputDom.value;

    var fileReader = new FileReader();

    var filesSelected = document.getElementById("inputFileToLoad").files;
    if((messageInputDom.value).trim().length != 0){

            chatSocket.send(JSON.stringify({
                'image': '',
                'message': message,
                'uname' : uname
                }));
            messageInputDom.value = '';
        }
        else if(filesSelected.length > 0){
        var filesSelected = document.getElementById("inputFileToLoad").files;
        var fileToLoad = filesSelected[0];
        var fileReader = new FileReader();
        fileReader.onload = function(fileLoadedEvent){
            var srcData = fileLoadedEvent.target.result;

        chatSocket.send(JSON.stringify({
            'image': srcData,
            'message': '',
            'uname' : uname
            }));
                document.getElementById('inputFileToLoad').innerHTML = '';
                // $('.emojionearea-editor img').remove();
        }
        fileReader.readAsDataURL(fileToLoad);
    }
}


function mediabutton(){
    var m = document.getElementById('inputFileToLoad');
    m.click();
};



</script>

{% endblock %}